<form method='POST' action='/create-to-do-list-item'>
  <label for='title-input'>New Item</label>
  <input id='title-input' type='text' name='item' placeholder='Item' />
  <button type='submit'>Add New List Item</button>
</form>